.list {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.list-item {
  width: 100%;
  padding: 0.3em;
  text-align: start;
  color: rgb(173, 101, 33);
  border-radius: 1.5em;
}

.list-active {
  width: 100%;
  padding: 0.3em;
  text-align: start;
  color: rgb(173, 101, 33);
  border-radius: 1.5em;
  background-color: rgb(237, 129, 28);
  color: black;
  font-weight: bolder;
}

.item-number {
  font-size: 1.3rem;
  width: 30%;
}

.item-amount {
  font-size: 1.3rem;
  font-weight: 300;
}
