.box {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0 1.5rem;
}

.fifty,
.audience,
.call {
  border: 3px solid #fff;
  border-radius: 1.5rem;
  padding: 0.15em;
  width: 24%;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
}

.help,
.used {
  border: 3px solid #fff;
  border-radius: 1.5rem;
  padding: 0.15em;
  width: 24%;
  height: 2.2rem;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
.help:hover {
  border: 3px solid gold;
  color: gold;
  padding: 0.1em;
}
.used {
  border-color: red;
  color: red;
  cursor: not-allowed;
}
