.box {
  width: 60%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.fifty,
.audience,
.call {
  border: 3px solid #fff;
  border-radius: 1.5rem;
  padding: 0.15em;
  width: 24%;
  text-align: center;
  margin: auto;
  font-size: larger;
}
