.chart_box {
  top: -115%;
  right: 10%;
  position: absolute;
  border: 3px solid rgb(112, 115, 153);
  background: linear-gradient(to bottom right, #171c61, rgba(86, 90, 153));
  border-radius: 1rem;
  height: 14rem;
  width: 24rem;
}
