.answer,
.selected,
.correct,
.wrong,
.blocked {
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(#060116, black);
  width: 39%;
  padding: 0.5em;
  text-align: center;
  border: 3px solid rgb(70, 55, 204);
  border-radius: 0.9em;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0 1% 0.5% 1%;
  cursor: pointer;
}
.selected {
  background: #ed811c;
  cursor: auto;
}

.correct {
  background: #1eba20;
  cursor: auto;
}

.wrong {
  background: #e30a07;
}
.blocked {
  pointer-events: none;
  cursor: auto;
}

.answer:hover {
  background: rgb(48, 48, 153);
}

.answer.correct {
  animation: correct 3s ease forwards;
}
.answerId {
  margin-right: 1rem;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}
