.trivia {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.timer {
  top: -35%;
  left: 10%;
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}

.question {
  width: 80%;
  min-height: 50px;
  background: linear-gradient(#060116, black);
  border: 3px solid rgb(70, 55, 204);
  text-align: center;
  padding: 0.5em;
  border-radius: 1.2em;
  font-size: 1.3rem;
}

.answers {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer,
.selected,
.correct,
.wrong,
.blocked {
  background: linear-gradient(#060116, black);
  width: 39%;
  padding: 0.5em;
  text-align: center;
  border: 1px solid rgb(70, 55, 204);
  border-radius: 0.9em;
  font-size: 1.3rem;
  font-weight: 300; /*სანახავია ფონტი */
  margin: 0 1% 0.5% 1%;
  cursor: pointer;
}
.selected {
  background: rgb(237, 129, 28);
  cursor: auto;
}

.correct {
  background: green;
  cursor: auto;
}

.wrong {
  background: red;
}
.blocked {
  cursor: auto;
  pointer-events: none;
}

.answer:hover {
  background: rgb(48, 48, 153);
}

.answer.active {
  background: rgb(95, 105, 36);
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@media screen and (max-width: 768px) {
  .answers {
    flex-direction: column;
    align-items: center;
  }
}
